﻿@model IEnumerable<xhcd.mvc.aspnetcore3._1.Models.comicModel>

@{
    ViewData["Title"] = "Preview";
}

@*@model List<comicModel>
@{
    ViewData["Title"] = "XHCD";
}*@


<div class="text-lg-left">
    <h1>XHCD</h1>
</div>
<br />
@foreach (var item in Model)
{
    <div class="form-group">
        <article>
            <h2 class="text-dark">@item.Title</h2>
            <div class="container text-center" style="width:100% ; height:28rem;">
                <img src="@Url.Content(item.Img)" class="img img-fluid  border-dark" alt="@item.Alt" />
                <div class=" text-justify">
                    <p class="text-black-50 text-uppercase ">@item.Alt</p>
                </div>
            </div>
            <br />

        </article>
        <br />
        <div class=" form-group list-group-horizontal">

            @if (int.Parse(@item.Day.ToString()) > 1)
            {
                <a asp-route="previewDay" asp-route-id="@item.Day">Previus</a>
            }
            else { }           &nbsp;
            <a asp-route="nextDay" asp-route-id="@item.Day">next</a>
        </div>
    </div>

}